MYSQL_CONTAINER_NAME=vibeup-mysql
MYSQL_DATABASE=vibeup
MYSQL_USER=vibeup
MYSQL_PASSWORD=m5HNsJ488NvbyKEz4Wkm
MYSQL_ROOT_PASSWORD=m5HNsJ488NvbyKEz4Wkm

BACKEND_CONTAINER_NAME=vibeup-backend
FRONTEND_CONTAINER_NAME=vibeup-frontend
HOST_HTTP_PORT=80
